* {
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

hr {
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, .2);
  border-width: 1px 0 0 0;
}
